body {
  background-color: #ffffffe6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
article{

  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 14px;
  border: 0.8px solid black;
  border-radius: 20px;
  font-size: 14px;
  min-width: min-content;


}
span{
  color: rgb(234 179 8) ;
  font: bold;
}

.tarjeta {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  background-color: rgb(255, 205, 53);
  padding: 20px;
  min-width: min-content;
  border-radius: 10px;
  margin: 20px;
}

.botones {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
#add,
#delete:hover {
  cursor: pointer;
}
.tarjeta ul {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
