
  body {
    background-color: #ababab;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div {
    background-color: #4554e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
